.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 2;
}

.container-image3 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) translateX(-200px);
  text-align: center;
  z-index: 1;
}

.image1 {
  position: absolute;
  width: 400px;
  height: 400px;
  animation:  rotation ease-in-out infinite;
}

.image2 {
  position: absolute;
  width: 400px;
  height: 400px;
  z-index: 1;
  
}



@keyframes hue-rotation {
  from {
    filter: hue-rotate(0deg);
  }
  to {
    filter: hue-rotate(360deg);
  }
}

@media (max-width: 767px) {
  .container,
  .container-image3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 80%;
  }

  .image1,
  .image2,
  .image3 {
    width: 100%;
    height: auto;
  }
}
